@import './../../styles/githubMarkdown';

.container {
  .editor-container {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 50%;
    height: auto;
    overflow: auto;
    font-size: 12px;
    box-shadow: -2px 2px 2px 2px rgba(0, 0, 0, .4);
    z-index: 99;
    padding: 16px;
    padding-top: 75px;

    .editor {
      width: 100%;
      min-height: 400px;
      display: block;

      &:focus {
        outline: none;
      }
    }
  }

  .result-container {
    background: lavender;
    position: fixed;
    top: 0;
    right: 0;
    left: 50%;
    bottom: 0;
    overflow: auto;
    padding: 10px;
    padding-left: 20px;
    display: flex;
    flex-direction: column;

    .btn-wrapper {
      display: flex;
      flex-direction: column;
      position: fixed;
      right: 10px;
      top: 20px;
    }

    .button {
      margin-left: auto;
      margin-bottom: 10px;

      &:disabled {
        cursor: not-allowed;
        background: #e8e6e6;
        color: #333;
      }
    }

    textarea {
      -ms-text-size-adjust: 100%;
      -webkit-text-size-adjust: 100%;
      font-size: 16px;
      line-height: 1;
      word-wrap: break-word;
      width: 100%;
      -webkit-appearance: none;
      height: 100%;
      background: none;
      border: none;
      line-height: 22px;

      &:focus {
        outline: none;
      }
    }
  }
}
