.actionbar-container {
  padding: 15px;
  border-bottom: 1px #b7b7b7 solid;
  box-shadow: rgba(0, 0, 0, .12) 0 1px 6px, rgba(0, 0, 0, .12) 0 1px 4px;
  position: fixed;
  top: 0;
  left: 0;
  width: 50%;
  z-index: 1;
  background: #fff;
}
